* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #645e5e;
    margin: 0;
}

main {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

hr {
    border: 1px solid #ddd;
    margin: 15px 0;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

button {
    width: 80px;
    height: 80px;
    font-size: 24px;
    cursor: pointer;
    background-color: #f7f7f7;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.currentPlayer {
    margin-top: 20px;
    color: #555;
}

.placar-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.placar span {
    display: block;
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}
